@using CleverHiveDiary.Core.ViewModels.Farm;
@model FarmViewModel

@{
    ViewData["Title"] = "Първоначална страница";
}


    <div class="text-center">
        <h1 class="display-4">Добре дошли в "Дневникът на умния кошер!"</h1>
    <img src="https://www.realmilkpaint.com/wp-content/uploads/safe-paint-for-beehives-scaled-scaled.jpg" style="width:75%;height:75%; "></img>
    </div>

